[tool.poetry]
name = "python-template"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = ">=3.10.0,<3.11"
django = "^4.2.14"
boatman = "^0.0.6"
ws4py = "^0.5.1"
