/cmd/upm/upm
/dist/
/internal/statik/
/packaging/aur/*.tar.gz
/packaging/aur/*.tar.xz
/packaging/aur/pkg/
/packaging/aur/src/
*.gen.go
/.vscode/
internal/backends/python/cache
internal/backends/python/regression_tests/*.txt
internal/backends/python/regression_tests/test
/.idea/

# nix build creates a "result" symlink to the nix store output
result
