/cmd/upm/upm
/dist/
/internal/statik/
/packaging/aur/*.tar.gz
/packaging/aur/*.tar.xz
/packaging/aur/pkg/
/packaging/aur/src/
*.gen.go
/.vscode/
/.idea/

# nix build creates a "result" symlink to the nix store output
result
